<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body{% if page.next %} data-older-url="{{ page.next.url | relative_url }}"{% endif %}{% if page.previous %} data-newer-url="{{ page.previous.url | relative_url }}"{% endif %}>

    {% include header.html %}

    <main class="page-content" role="main">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>

    {% include footer.html %}
    {% include dark-mode.html %}
    {% include keyboard-nav.html %}

  </body>

</html>
